[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/void/Desktop/Owen.txt]
row=5
col=0

[/home/void/Desktop/Cura]
row=2
col=0

[/home/void/Desktop/adornoNotes.txt]
row=3
col=0

[/home/void/Desktop/Unix]
row=4
col=0

[/]
row=0
col=0

[/home/void]
row=1
col=0

